.places {
  display: grid;
  max-width: 984px;
  margin: 0 auto;
  grid-row-gap: 80px;
}

@media  screen and (max-width:984px) {
  .places {
    grid-row-gap: 73px;
  }
}

@media  screen and (max-width:587px) {
  .places {
    grid-row-gap: 50px;
  }
}
