.header {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}

/* @media screen and (max-width: 1279px) {
  .header {
    max-width: 979px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 515px;
  }
} */