.footer__author {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    align-self: flex-end;
}

@media screen and (max-width:767px) {
    .footer__author {
        margin-top: 48px;
        align-self: flex-start;
        margin-bottom: 24px;
        line-height: 14px;
    }
}