.lead__subtitle {
  max-width: 640px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 64px;
}

@media screen and (max-width:1023px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width:568px) {
  .lead__subtitle {
      font-size: 16px;
      max-width: 288px;
      min-height: 40px;
      line-height: 20px;
      margin-bottom: 40px;
  }
}