.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 1.07;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 40px;
}

@media screen and (max-width: 767px) {
    .intro__title {
        max-width: calc(100vw - 16px * 2);
        font-size: 32px;
        line-height: 35px;

    }
}